.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 300px;
  width: 300px;
}

body {
	  height: 1000px;
  background-image: radial-gradient(white 10%, transparent 0%, grey 100%);
} 