.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 300px;
  width: 300px;
}

body {
  background-image: radial-gradient(white 0%, transparent 10%, grey 100%);
} 